        <footer class="footer">
            <a href="mailto:angelomarlopez10@gmail.com" class="footer-link"><i class="far fa-envelope"></i> angelomarlopez10@gmail.com</a>
            <ul class="social-list">
                <li class="social-list-item">
                    <a class="social-list-link" href="https://github.com/AngelLopez8" target="_blank"><i class="fab fa-github"></i></a>
                </li>
                <li class="social-list-item">
                    <a class="social-list-link" href="https://www.linkedin.com/in/angel-lopez-a93a43156/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                </li>
            </ul>
        </footer>
    </body>
</html>